<section class="block">
  <h2 class="block__header">Whar our customer saying</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ducimus
    sint consequuntur, minima rem accusantium inventore dolor iste laudantium
    necessitatibus?
  </p>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1X2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="A smilling, happy customer." />
          <span
            class="icon-container icon-container--small icon-container--accent"
          >
            <svg class="icon icon--white">
              <use xlink:href="/images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos
            tempore enim repellendus odit veritatis vero neque? Voluptatum
            voluptas aut nam amet libero doloribus error fuga, consequatur rem
            distinctio blanditiis.
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="/images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__heading quote__author">John Lumeo</h3>
                <p class="quote__organization">ABC COMPANY</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
